:root {
  --board-width: 500px;
  --pad: 10px;
}

body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  background-color: red;
  width: 100%;
}

.title {
  font-size: 3rem;
}

#controls {
  margin: auto;
  background-color: #2E4272;
  max-width: calc(var(--board-width) - 2*var(--pad));
  display: flex;
  padding: var(--pad);
}

#score {
  background-color: #4F628E;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit {
/*  background-color: #4F628E;*/
  width: 50px;
}

#guess {
  background-color: #7887AB;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  background-color: yellow;
  margin: auto;
  text-align: center;
  max-width: var(--board-width);
  aspect-ratio: 1.0;
  position: relative;
}

.selected {
  background-color: blue;
}

.unselected {
  background-color: cyan;
}

.letter {
  display: flex;
  position: absolute;
  aspect-ratio: 1.0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyLetter {
  background-color: blue;
}
