:root {
  /* sizes */
  --board-width: 500px;
  --pad: 10px;

  /* colors */
  --color-back: white;
  --color-fore: black;
  --color-min: lightgrey;
  --color-mid: grey;
  --color-max: darkgrey;

  --color-good: green;
  --color-tintgood: darkgreen;
  --color-bad: red;
  --color-tintbad: darkred;
  --color-rep: yellow;
}

body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  background-color: var(--color-back);
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  width: 100%;
}

.title {
  color: var(--color-fore);
  font-size: 3rem;
}


/* bunch of styles for displaying gallery of puzzles */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
